.reusable-button {
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 700;
    padding: 0.7rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.reusable-button.primary{
    background: #034BA6;
    color: #ffffff;
}
.reusable-button.secondary {
    background: #f5f5f5;
    color: #002e5d;

}


.reusable-button.green {
    background: #03A65D;
    color: #fff;
}

.reusable-button.exit{
    background: #012460;
    color: #ffffff;
}

.reusable-button:hover:not(:disabled) {
    opacity: 0.8;
}

.reusable-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.button-icon {
    display: flex;
    align-items: center;
}
.Home {
    width: 4rem;
    height: 1.2rem;

}